@using TownComparisons.Domain.Entities;
@{

    ViewBag.Title = "Jämför";
}

<h3>Jämförelse</h3>
<div id="Categories">
    <h4>Dina jämförelseobjekt:</h4>
    @{
        List<KpiAnswer> kpiAnswers = ViewBag.KpiAnswerList;

    }

    @functions{
        bool bgColor = true;
        public string GetBgColor()
        {
            if (bgColor)
            {
                bgColor = false;
                return "bgSilver";
            }
            else
            {
                bgColor = true;
                return "";
            }

        }
    }

    <div id="Compare">
        <div class="compareRow bold">
            <div class="compareBoxQuestion">Frågor</div>
            @foreach (OrganisationalUnit ou in ViewBag.Comparision)
            {
                <div class="compareBox">@ou.Title</div>
            }
        </div>
        @foreach (KpiGroup kg in @ViewBag.KpiList)
        {
            foreach (KpiQuestion kq in kg.Members)
            {
                <div class="compareRow @GetBgColor()">
                    <div class="compareBoxQuestion">
                        @kq.Member_title
                    </div>
                    @foreach (OrganisationalUnit ou2 in ViewBag.Comparision)
                    {
                        <div class="compareBox">
                            @foreach (KpiAnswer ka in ViewBag.KpiAnswerList)
                            {
                                if (ka.Kpi == kq.Member_id && ou2.Id == ka.Ou)
                                {
                                    if (@ka.Values.Last().Value != null)
                                    {
                                        <p>@ka.Values.Last().Value (@ka.Period)</p>
                                        break;
                                    }
                                }
                            }
                        </div>
                    }
                </div>
            }
        }

    </div>
</div>